/* base.css */
:root {
  --color-primary: #0077b6;
  --color-secondary: #d8edf3;
  --color-ternary: white;
  --color-primary-darker: #006ba4;
  --color-primary-darker-hard: #005f92;
  --color-primary-shade: #1a85bd;
  --color-secondary-tint: #c2d5db;
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: var(--font-rubik), sans-serif;
}

/* Global Styling */
body {
  /* font-family: "TeleNeoWeb", sans-serif; */
  line-height: 1.6;
  /* color: #333; */
}

/* Main Layout Container */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
}

.hidden {
  display: none;
  /* visibility: hidden;
  opacity: 0; */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.3s ease-in-out forwards;
}
