/* Default: 1024px and above */
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  max-width: 1380px; /* Controls how wide the header contents can stretch */
  margin: 0 auto; /* Centers the header contents within the screen */
  flex-wrap: wrap;
}

.nav__logo {
  height: 3.5rem !important;
  width: 83px !important;
  /* margin-right: 20px; */
  border-radius: 3px;
}

.nav__links {
  display: flex;
  list-style: none;
  gap: 15px;
}

.nav__links li {
  margin-right: 20px;
  /* margin-right: 15px; */
}

.nav__link {
  color: #666;
  text-decoration: none;
  /* white-space: nowrap; */
  font-weight: 500;
  font-size: 1.1rem;
  /* For button setting below */
  /* background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem; */
  transition: all 0.3s;
}

/* .nav__link--btn {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-right: 15px;
  border: 2px solid var(--color-primary);
  font-weight: 500;
} */

.nav__button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-right: 15px;
  border: 2px solid var(--color-primary);
  font-weight: 500;
  background-color: transparent;
  color: var(--color-primary);
  cursor: pointer;
  font-size: 1.1rem;
  transition: all 0.3s;
}

#publishOpportunities {
  background-color: var(--color-primary);
  color: var(--color-ternary);
}

#publishOpportunities:hover {
  background-color: var(--color-primary-darker);
}

#logInSignUp {
  background-color: transparent;
  color: var(--color-primary);
}

#logInSignUp:hover {
  background-color: var(--color-primary);
  color: var(--color-ternary);
}

.nav__link:hover {
  color: var(--color-primary-darker);
}

.nav__button:hover {
  color: var(--color-primary-darker);
}

.nav__button:focus {
  outline: none;
  box-shadow: 0 0 3px var(--color-primary-darker);
}

/* ////////////////////////////////// */
/* ////////////////////////////////// */
/* Responsive Styling */
@media (max-width: 1024px) {
  /* Navigation */
  .nav {
    padding: 10px 10px;
  }

  .nav__logo {
    height: 2.6rem;
  }

  .nav__links {
    gap: 0px;
    font-size: 0.9rem;
  }

  .nav__buttons {
    display: flex;
    gap: 10px;
  }

  /* .nav__link--btn {
    padding: 0.4rem 0.8rem; ovo je bilo commented
    padding: 0.4rem 0.6rem;
    font-size: 0.9rem;
  } */

  .nav__button {
    padding: 0.4rem 0.8rem;
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  /* Navigation */
  .nav {
    flex-direction: column;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav__links {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  /* .nav__link--btn {
    width: 100%;
    text-align: center;
    margin-right: 0;
  } */

  .nav__logo {
    height: 2.3rem;
    margin-bottom: 5px;
  }

  .nav__buttons {
    flex-direction: column;
    gap: 5px;
    max-width: 200px;
    width: 100%;
    align-items: center;
  }

  .nav__button {
    width: 80%; /* Buttons take up most of the width on smaller screens */
    padding: 0.5rem;
    font-size: 0.85rem;
  }
}

@media (max-width: 480px) {
  /* Navigation */
  .nav {
    padding: 5px;
  }

  .nav__links {
    gap: 5px;
  }
  /* 
  .nav__link--btn {
    font-size: 0.9rem;
  } */

  .nav__logo {
    height: 1.9rem;
  }

  .nav__buttons {
    flex-direction: column;
    gap: 5px;
  }

  .nav__button {
    font-size: 0.8rem;
    padding: 0.4rem;
    width: 80%;
  }
}
